.wrapper {
    padding: 20px;

    width: 350px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-custom {
    padding: 5  px 15px;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.body {
}

.nickname {
}

.checkbox {
    font-size: 14px;
    margin-left: 4px;
    color: #20d5ec;
}
.name {
    font-size: 14px;
    opacity: 50%;
}

.analytics {
    display: flex;
    justify-content: space-between;
}

.value {
    margin-right: 5px;
}

.lable {
}

.value {
}

.lable {
}
